name: Publish Image

on:
    workflow_dispatch:
        inputs:
            phanpy_version:
                description: Target Phanpy Version
                required: true
                type: string
                default: latest
    push:
        branches:
            - "renovate/**"
    pull_request:
        branches:
            - main
        paths-ignore:
            - "**.md"
    schedule:
        - cron: "30 4 * * 1" # At 04:30 on every Monday.

env:
    REGISTRY: ghcr.io
    IMAGE_NAME: ${{ github.repository }}
    UPSTREAM: cheeaun/phanpy

jobs:
    build_and_push_to_registry:
        name: "Build and Push to Registry: Phanpy ${{ inputs.phanpy_version }}"
        runs-on: ubuntu-latest
        permissions:
            contents: read
            packages: write
        steps:
            - name: Check Version
              id: version
              run: |
                  echo "### Status" >> ${GITHUB_STEP_SUMMARY}

                  tag="${{ inputs.logLevel || 'latest' }}"

                  if [[ "${tag}" == "latest" ]]; then
                    tag=$(curl -s https://api.github.com/repos/${UPSTREAM}/releases/latest \
                          | jq --raw-output '.tag_name')
                  fi

                  echo "value=${tag}" >> ${GITHUB_OUTPUT}
                  echo " - Tag: ${tag}" >> ${GITHUB_STEP_SUMMARY}
            - uses: warjiang/setup-skopeo@main
            - name: Check If Tag needs_update
              id: tag_check
              run: |
                  if skopeo inspect docker://${REGISTRY}/${IMAGE_NAME}:${{ steps.version.outputs.value }}; then
                    echo ":green_square: We are up to date!" >> ${GITHUB_STEP_SUMMARY}
                    echo "needs_update=false" >> ${GITHUB_OUTPUT}
                  else
                    echo ":red_square: **Update required!**" >> ${GITHUB_STEP_SUMMARY}
                    echo "needs_update=true" >> ${GITHUB_OUTPUT}
                  fi
            - name: Checkout Repository
              if: ${{ steps.tag_check.outputs.needs_update == 'true' }}
              uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
            - name: Login to the Container Registry
              if: ${{ steps.tag_check.outputs.needs_update == 'true' }}
              uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3
              with:
                  registry: ${{ env.REGISTRY }}
                  username: ${{ github.actor }}
                  password: ${{ secrets.GITHUB_TOKEN }}
            - name: Extract Metadata
              if: ${{ steps.tag_check.outputs.needs_update == 'true' }}
              id: meta
              uses: docker/metadata-action@c299e40c65443455700f0fdfc63efafe5b349051 # v5
              with:
                  images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}
                  tags: |
                      ${{ steps.version.outputs.value }}
                      latest
            - name: Set up QEMU
              uses: docker/setup-qemu-action@c7c53464625b32c7a7e944ae62b3e17d2b600130 # v3
            - name: Set up Docker Buildx
              uses: docker/setup-buildx-action@8d2750c68a42422c14e847fe6c8ac0403b4cbd6f # v3
            - name: Build and Push Image
              if: ${{ steps.tag_check.outputs.needs_update == 'true' }}
              uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6
              with:
                  platforms: linux/amd64,linux/arm64
                  context: .
                  file: ./Containerfile
                  push: true
                  build-args: |
                      VERSION=${{ steps.version.outputs.value }}
                  tags: ${{ steps.meta.outputs.tags }}
                  labels: ${{ steps.meta.outputs.labels }}
